export const  environment = {
  production: ${IS_PRODUCTION},

  auth: {
    clientId: "${CLIENT_ID}",
    authorizationServer: "${AUTHORIZE_SERVER}",
    redirectUrl: "${REDIRECT_URL}",
    serverUrl: "${SERVER_URL}",
    appName: "${APP_NAME}",
    jwtOptions: {
      allowedDomains: ${ALLOWED_DOMAINS},
      disallowedRoutes: ${DISALLOWED_ROUTES}
    }
  },

  apiUrl: "${API_URL}"
};
