<nav class="navbar">
  <div class="container-fluid">

    <div class="logo">
      <img src="assets/images/logo_iss.png">
      <a routerLink="/" class="navbar-brand"> Сервис отслеживания почтовых отправлений </a>
    </div>

    <form class="d-flex">
      <span class="fio_user"> {{ fio_initials }} </span>

      <p-button
        icon="pi pi-sign-out"
        styleClass="p-button-text p-button-plain"
        (click)="logout()"
      ></p-button>
    </form>
  </div>
</nav>
<p-menubar [model]="items">
</p-menubar>


<router-outlet></router-outlet>

<!-- <span class="footer"></span> -->
