// ---------------- Navbar ---------------

.navbar{
  background-color: #E5F0FF;
  height: 70px;
}

.logo {
  float: right;
  text-align: center;

    img {
      width: 67px;
      height: 56px;
      float: left;
      margin-right: 20px;
    }

    a {
      float: left;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 0px;

      padding: 15px 25px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      display: block;
      color: #0043A4;
      cursor: pointer;

      &:hover {
        color: #6b6b6b;
        text-decoration: none !important;
      }
    }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  .logo {
    margin-left: 150px;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-left: 550px;
  }
}

.fio_user {
  // margin: auto;
  // width: 100%;
  padding: 15px 25px;
  // border-left: 2px solid #ddd;
}

// ---------------- Menubar ---------------

::ng-deep .p-menubar {
  height: 50px;
  background-color: #7AB1FF !important;

  p-menubarsub {
    position: absolute;
    left: 310px;
  }

  .p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
    color: rgb(0, 0, 0) !important;
  }
  // .p-menu-list {
  //   background-color: red !important;
  // }
  // .p-menuitem {
  //     background-color: green !important;
  // }
  // .p-menu-list:hover {
  //     background-color: rgb(255, 255, 255) !important;
  // }
  // .p-menuitem:hover {
  //     background-color: #000 !important;
  // }
}
