
<div class="container">
  <div class="row">
    <p-table
      #dt
      *ngIf="lists"
      [value]="lists"
      [lazy]="true"
      [lazyLoadOnInit]="true"
      (onLazyLoad)="loadData($event)"
      [rows]="15"
      [paginator]="true"
      [totalRecords]="totalRecords"
      tableStyleClass="prime-table"
      styleClass="p-datatable-sm"
      [loading]="(isSubmitting$ | async)!"
    >

      <ng-template pTemplate="caption">
        Список треков

        <span class="flex justify-content-end border-round m-2 archive-check ">
          <p-checkbox name="archive" [binary]="true" label="Архив" [(ngModel)]="archive" (onChange)="initializeValues()"></p-checkbox>
       </span>
      </ng-template>

      <ng-template pTemplate="header" let-column>
          <tr>
              <th width="1%"> № </th>
              <th width="5%" style="text-align:center"> Статус </th>
              <th width="5%" style="text-align:center"> Тип отправления</th>
              <th width="15%" style="text-align:center"> Исходящий №</th>
              <th width="15%" style="text-align:center"> Трек</th>
              <th width="15%" style="text-align:center"> Получатель</th>
              <th width="15%"> Адрес получателя </th>
              <th width="15%"> Последнее действие</th>
              <th width="1%"></th>
              <th></th>
          </tr>


          <tr>
            <th>
            </th>
            <th width="15%">
              <p-dropdown
                *ngIf="user_is_admin"

                [options]="filters.statuses"
                optionValue="id"
                (onChange)="dt.filter($event.value, 'delivered', 'equals')"
                placeholder="Все статусы"
                [showClear]="true"
                optionLabel="name"
                [style]="{'width':'100%'}"
                panelStyleClass="p-dropdown"
                >

                <ng-template let-option pTemplate="item">
                  <span [class]="'list-badge status-' + option.id">{{option.name}}</span>
                </ng-template>
              </p-dropdown>
            </th>
            <th width="15%">
              <p-dropdown
                *ngIf="user_is_admin"

                [options]="filters.types"
                optionValue="type"
                (onChange)="dt.filter($event.value, 'type', 'equals')"
                styleClass="p-column-filter"
                placeholder="Все типы"
                [showClear]="true"
                optionLabel="type"
                [style]="{'width':'100%'}"
                panelStyleClass="p-dropdown"
              >
                <ng-template let-option pTemplate="item">
                  <span [class]="'dropdown-selected'"> {{option.type}}</span>
                </ng-template>
              </p-dropdown>
            </th>
            <th width="15%">
              <input pInputText
                type="text"
                (input)="dt.filter($any($event.target)?.value, 'order', 'contains')"
                [value]="$any(dt.filters['order'])?.value"
                placeholder="№"
                class="form-control col-lg-12"
              >
            </th>
            <th>
              <input pInputText
                type="text"
                (input)="dt.filter($any($event.target)?.value, 'barcode', 'contains')"
                [value]="$any(dt.filters['barcode'])?.value"
                placeholder="Трек номер"
                class="form-control col-lg-11"
              >
            </th>
            <th>
              <input pInputText
                *ngIf="user_is_admin"

                type="text"
                (input)="dt.filter($any($event.target)?.value, 'recipient', 'contains')"
                [value]="$any(dt.filters['recipient'])?.value"
                placeholder="Получатель"
                class="form-control col-lg-11"
              >
            </th>
            <th>
              <input pInputText
                *ngIf="user_is_admin"

                type="text"
                (input)="dt.filter($any($event.target)?.value, 'address', 'contains')"
                [value]="$any(dt.filters['address'])?.value"
                placeholder="Адрес"
                class="form-control col-lg-11"
              >
            </th>
            <th>
              <input pInputText
                *ngIf="user_is_admin"

                type="text"
                (input)="dt.filter($any($event.target)?.value, 'last_operattr', 'contains')"
                [value]="$any(dt.filters['last_operattr'])?.value"
                placeholder="Действие"
                class="form-control col-lg-11"
              >
            </th>
            <th></th>
            <th></th>

          </tr>

      </ng-template>
      <ng-template pTemplate="body" let-list let-i="rowIndex">
          <tr>
              <td>{{i + 1}}</td>
              <td style="text-align:center">
                <span
                [innerHtml]="list.delivered | nameForStatus"
                [class]="'list-badge status-' + list.delivered">
                </span>
              </td>

              <td style="text-align:center">{{list.type}}</td>
              <td style="text-align:center" width="15%">{{list.order}}</td>
              <td style="text-align:center" width="15%">{{list.barcode}}</td>
              <td style="text-align:center" width="15%">{{list.recipient}}</td>
              <td width="15%">{{list.address}}</td>
              <td width="20%">{{list.last_operattr}}</td>
              <td style="text-align:center">
                <button
                  pButton
                  pRipple type="button"
                  icon="pi pi-eye"
                  (click)="onShowHistory(list.id)"
                  class="p-button-info p-button-outlined"
                  pTooltip="Посмотреть все действия"
                  tooltipPosition="top"
                ></button>
            </td>
            <td style="text-align:center">
              <button
                *ngIf="list.delivered === 0"
                pButton
                pRipple type="button"
                icon="pi pi-bell"
                (click)="onShowAlert(list.id, list.selected_delivery)"
                class="p-button-warning p-button-outlined "
                pTooltip="Уведомлять об изменениях"
                tooltipPosition="top"
              ></button>
          </td>

          </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8"> Не найдено </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>
