// :root {
//   --header-color: #4682B4;
//   --dark-color: #333333;
//   --light-color: #f4f4f4;
//   --danger-color: #dc3545;
//   --success-color: mediumseagreen;
// }

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 10px;
}

body {
  margin: 0;
  margin-bottom: 90px;
  overflow-y: scroll;
}

footer {
  background: #b8cee4af;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}



// ----------------------------Шапка, навигация и футер---------------------------------------

.bg-nav-font {
  background: #b8cee4af;
}

.container-header {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .container-header {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container-header {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-header {
    width: 1160px;
  }
}

.spinner-border {
  margin-left: 10px;
}

.header {
  overflow: hidden;
  background: var(--header-color);
  color: #fff;
  padding: 10px 10px;

  a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 0px;

    padding: 5px 25px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    // display: block;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #e6ebeb;
      text-decoration: none !important;
    }
  }

  img {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 0px;

    padding: 5px 25px;
  }

  .header-user {
    float: right;
    text-align: center;
    padding: 9px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 0px;
  }

  @media (min-width: 768px) {
    .logo {
      margin-left: 50px;
    }
  }
  @media (min-width: 992px) {
    .logo {
      margin-left: 200px;
    }
  }
  @media (min-width: 1200px) {
    .logo {
      margin-left: 284px;
    }
  }
}

